# System
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
/*.iml
/.idea/
/.vscode/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Others
*.log
*.tmp
*.test
*.out

# Dependency directories
/vendor/
